{% extends "base.html" %}
{% macro display_day(day, color) %}
	<div class="btn-group">
		<button type="button" class="btn {{ color }} dropdown-toggle" data-toggle="dropdown"><h3 class="dayRowText text-left">It isn't {{ day.name }}</h3>
		</button>
		<ul class="dropdown-menu">
			<li><h3 class="dayTable text-left">{{ day.name }} is {{ day.date }}, {{ day.offset }} days away</h3></li>
		</ul>
	</div>
{% endmacro %}
{% block title %}Index{% endblock %}
{% block content %}
	<div class="btn-group-vertical center-block" role="group">
		{% for day in days %}
			{% if day.is_today() %}
				<button type="button" class="btn btn-primary"><h3 class="dayRowText text-left">It is {{ day.name }}</h3></button>
			{% elif day.offset < 8 %}
				{{ display_day(day, "btn-danger") }}
			{% elif day.offset < 32 %}
				{{ display_day(day, "btn-warning") }}
			{% else %}
				{{ display_day(day, "btn-success") }}
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
